* {
  margin: 0;
  padding: 0;
}
.navi {
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: space-between;
}
.flex {
  display: flex;
  gap: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
.hide {
  display: none;
}

.after2 {
  display: flex;
  height: 73px;
  padding: 18px 31px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
}

.first1 {
  background-image: url(app.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: px;
}
.pro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 320;
}

.hp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.hi {
  color: #f5f5f7;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.pi {
  color: #f5f5f7;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.but-div {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.but1 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  color: white;
}
.bgcolor {
  background-color: white;
  color: black;
  border-color: white;
}
.but2 {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border-color: rgba(0, 113, 227, 1);
  color: rgba(41, 151, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(0, 113, 227, 1);
}
.button-pro {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border-color: rgba(0, 113, 227, 1);
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.text {
  display: none;
}

.hi {
  display: flex;
  width: 405px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.pi {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.but-div {
  color: #f5f5f7;
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.but1 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.but2 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.first2 {
  background-image: url(pi1.jpg);
  height: 500px;
  gap: 12px;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
}

.pad {
  padding-top: 20px;
}

.first3 {
  margin-top: 12px;
  height: 500px;
  background-image: url(air1.jpg);
  gap: 12px;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  width: 100%;
  padding-top: 36px;
}

.img1 {
  display: flex;
  justify-content: center;
  height: 41.86px;
}
.ipad {
  display: flex;
  height: 32px;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}
.app-int {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-top: 277px;
  padding-bottom: 36px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* @media (min-width: 600px) {
  .bg-img {
    background-image: url(air2.jpg);
  }
}
.text {
  display: none;
} */
/* @media (min-width: 768px) {
  .bg-img {
    background-image: url(air3.jpg);
    width: 100%;
    height: 470px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text {
    display: none;
  }
  .text {
    display: block;
  }
} */

.hip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 280px;
  text-align: center;
}
.h1p {
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.pip {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 16px;
}
.button {
  border-radius: 100px;
  width: 114px;
  height: 44px;
  background-color: rgba(0, 113, 227, 1);
  color: white;
}
.bg-img0 {
  background-image: url(airpods\ 4.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
}
.null {
  display: none;
}
.hipi {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
}
.hi1 {
  width: 144px;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pi1 {
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 16px;
}
.bg-img1 {
  background-image: url(watch.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 12px;
}
.h1p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 301px;
  gap: 4px;
  align-self: stretch;
}
.bg-img2 {
  background-image: url(macbook\ air.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 12px;
}
.bg-img3 {
  background-image: url(business.png);
  margin-top: 12px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-img4 {
  background-image: url(deals.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 12px;
}
.bg-img5 {
  background-image: url(trade.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 12px;
}

/* .grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  background-color: dodgerblue;
  border: 1px solid black;
  height: 1000px;
} */
/* .con {
  border: 1px solid red;
  padding: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

/* @media (min-width: 600px) {
  .text {
    display: block;
  }
  .bg-img5 {
    display: none;
  }
  .bg-img4 {
    display: none;
  }
  .bg-img3 {
    display: none;
  }
  .bg-img2 {
    display: none;
  }
  .bg-img1 {
    display: none;
  }
  .airpods4 {
    display: none;
  }
} */

/* .grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  background-color: dodgerblue;
  border: 1px solid black;
  height: 1000px;
} */
/* .con {
  border: 1px solid red;
  padding: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

@media (min-width: 768px) {
  .text {
    display: block;
  }
  .bg-img5 {
    display: none;
  }
  .bg-img4 {
    display: none;
  }
  .bg-img3 {
    display: none;
  }
  .bg-img2 {
    display: none;
  }
  .bg-img1 {
    display: none;
  }
  .airpods4 {
    display: none;
  }
  .bg-img {
    background-image: url(air2.jpg);
  }
  .first2 {
    background-image: url(pi2.jpg);
  }
  .first1 {
    background-image: url(app2.jpg);
  }
  .bg-img0 {
    display: none;
  }
  .pro {
    padding-top: 58px;
  }
  .grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 490px 490px 490px;
    width: 744;
    height: 1494;
    gap: 12px;
  }
  .grid1 {
    background-image: url(airpods4-2.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid2 {
    background-image: url(bg-img12.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid3 {
    background-image: url(bg-img22.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid4 {
    background-image: url(bg-img32.png);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid5 {
    background-image: url(bg-img42.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid6 {
    background-image: url(bg-img52.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 390px) {
  .text {
    display: block;
  }
}

@media (min-width: 1048px) {
  .bg-img {
    background-image: url(air3.jpg);
    width: 100%;
    height: 470px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text9 {
    display: none;
  }
  .text {
    display: block;
  }
  .null {
    display: block;
  }

  .first2 {
    background-image: url(pi3.jpg);
  }
  .first1 {
    background-image: url(app3.jpg);
  }
  .first3 {
    background-image: url(air3.jpg);
  }
  .pi {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #f5f5f7;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .hide {
    display: block;
  }
  .navihide {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .space {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 490px 490px 490px;
    width: 744;
    height: 1494;
    gap: 12px;
  }
  .grid1 {
    background-image: url(grid1.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid2 {
    background-image: url(grid2.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid3 {
    background-image: url(grid3.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid4 {
    background-image: url(grid4.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid5 {
    background-image: url(grid5.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .grid6 {
    background-image: url(grid6.jpg);
    width: 300px;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
/* .grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 490px 490px 490px;
  width: 744;
  height: 1494;
  opacity: 1;
  gap: 12px;
} */
